p {
    display: inline;
    font-size: 40px;
    margin: 0px;
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0px;
    overflow-x: hidden;
    overflow: hidden;
    position: absolute;
}

body {
    color: whitesmoke;
    background-color: #181818;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.znak {
    color: grey;
    font-size: large;
    margin-left: 1px;
}

.linia {
    margin-right: 3px;
    margin-left: 3px;
    text-align: center;
    float: left;
}

.cont {
    border: 4px solid whitesmoke;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 7px;
    padding-bottom: 7px;
    background-color: #181818;
}

.animation-box {
    display: block;
}

.wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.particule {
    position: absolute;
    z-index: -2;
}